appdirs==1.4.0
argh==0.26.2
decorator==4.0.11
defusedxml==0.4.1
elasticsearch==1.9.0
logutils==0.3.3
packaging==16.8
pathtools==0.1.2
pyparsing==2.1.10
python-dateutil==2.6.0
PyYAML==3.12
requests==2.13.0
six==1.10.0
tornado==4.4.2
urllib3==1.20
validators==0.11.2
watchdog==0.8.3
-e git+https://github.com/EHRI/rspub-core@master#egg=rspub-core
-e git+https://github.com/EHRI/resync.git@ehribranch#egg=resyncehri